@font-face {
    font-family: nos;
    src: url(fonts/MemphisRiver.otf);
}



:root {
    --my-color: black;
    --my-font: 0;
  }

  
.container {
    display: flex;
    background-color: grey;

    justify-content: space-around;
    margin: var(--my-font);
    padding: var(--my-font);
    border-bottom: 1px solid var(--my-color);
    
}

.container-1 {
    cursor: pointer;
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    flex-shrink: 0;
    transition: transform 1s;
    

}

.container-2 {
    cursor: pointer;
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    flex-shrink: 0;
    transition: transform 1s;
   

}

.container-3 {
    cursor: pointer;
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    flex-shrink: 0;
    transition: transform 1s;
}

.container-4 {
    cursor: pointer;
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    flex-shrink: 0;
    transition: transform 1s;
}




.container-1:hover {
    
    animation: homie 1s ease-in;
    background-color: white;

}

.container-2:hover {
    
    animation: homie 1s ease-in;
    background-color: white;

}

.container-3:hover {
    
    animation: homie 1s ease-in;
    background-color: white;

}

.container-4:hover {
    
    animation: homie 1s ease-in;
    background-color: white;

}

@keyframes homie {
    100% {
        transform: scale(1.1);
        
        
    }
    
}




body {
    padding: var(--my-font);
    margin: var(--my-font);
    text-align: center;
}

h1 {
    font-family: nos, Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
}

h2 {
    
    text-align: center;
}

p {
    text-align: center;
}
footer {
    font-size: 150%;
    text-align: center;
    align-self: flex-end;
   
}

@media all and (max-width: 500px) {
    .container {
        display: flex;
        background-color: grey;
    
        justify-content: space-around;
        margin: var(--my-font);
        padding: var(--my-font);
        border-bottom: 1px solid var(--my-color);
        
    }
    
    .container-1 {
        cursor: pointer;
        padding: 5px;
        width: 50px;
        margin: 5px;
        border: 3px solid black;
        flex-shrink: 0;
        transition: transform 1s;
        
    
    }
    
    .container-2 {
        cursor: pointer;
        padding: 5px;
        width: 50px;
        margin: 5px;
        border: 3px solid black;
        flex-shrink: 0;
        transition: transform 1s;
       
    
    }
    
    .container-3 {
        cursor: pointer;
        padding: 5px;
        width: 50px;
        margin: 5px;
        border: 3px solid black;
        flex-shrink: 0;
        transition: transform 1s;
    }
    
    .container-4 {
        cursor: pointer;
        padding: 5px;
        width: 50px;
        margin: 5px;
        border: 3px solid black;
        flex-shrink: 0;
        transition: transform 1s;
    }
    body {
        padding: var(--my-font);
        margin: var(--my-font);
        text-align: center;
    }
}


